@page
@model Web_App_Identity.Pages.Account.LoginModel
@{
}

<h3 class="mb-3">User Login</h3>
<div class="container border" style="padding: 20px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>

        <div class="m-2 row">
            <div class="col-2">
                <label asp-for="LoginViewModel.Email"></label>
            </div>
            <div class="col">
                <input type="email" asp-for="LoginViewModel.Email" class="form-control" />
                <span class="text-danger" asp-validation-for="LoginViewModel.Email"></span>
            </div>
        </div>

        <div class="m-2 row">
            <div class="col-2">
                <label asp-for="LoginViewModel.Password"></label>
            </div>
            <div class="col">
                <input type="password" asp-for="LoginViewModel.Password" class="form-control" />
                <span class="text-danger" asp-validation-for="LoginViewModel.Password"></span>
            </div>
        </div>

        <div class="m-2 row">
            <div class="col-2">
                <input type="checkbox" asp-for="LoginViewModel.RememberMe" class="form-check" />
                <label class="form-check-label" asp-for="LoginViewModel.RememberMe"></label>
            </div>
            <div class="col">
                
            </div>
        </div>

        <div class="m-2 row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
            <div class="col">
                <a class="btn btn-link" href="/account/register">Register</a>
            </div>
        </div>
    </form>
</div>